# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [302]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [303]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [304]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [305]:
df.shape

(48895, 16)

Identify the numerical features:

In [306]:
df.select_dtypes(include=['number']).columns.tolist()

['id',
 'host_id',
 'latitude',
 'longitude',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

Identify the categorical features

In [307]:
df.select_dtypes(include=['object', 'category']).columns.tolist()

['name',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'room_type',
 'last_review']

What are the top 5 questions this dataset might help answer?

In [308]:
print("""
1 does number of reviews affect how eye catching the listing is

2 what values determine the pricing of a listing

3 which locations are more popular

4 which room types are more popular/highly rated

5 whihc neigborhoods/locations list for higher prices
""")

1 does number of reviews affect how eye catching the listing is

2 what values determine the pricing of a listing

3 which locations are more popular

4 which room types are more popular/highly rated

5 whihc neigborhoods/locations list for higher prices

## B. Structuring

Check if the dataset has proper column types

In [309]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

Check if the dataset has index issues

In [310]:
df.index.is_unique

True

Check if the dataset has duplicated rows

In [311]:
duplicate_count = df.duplicated().sum()
print(duplicate_count)

0

Convert columns to correct types (e.g., dates → datetime).

In [312]:
df['last_review'] = pd.to_datetime(df['last_review'])
df['last_review']

0       2018-10-19
1       2019-05-21
2              NaT
3       2019-07-05
4       2018-11-19
           ...
48890          NaT
48891          NaT
48892          NaT
48893          NaT
48894          NaT
Name: last_review, Length: 48895, dtype: datetime64[ns]

In [313]:
numerical_cols = [
    'latitude',
    'longitude',
    'price',
    'minimum_nights',
    'number_of_reviews',
    'reviews_per_month',
    'calculated_host_listings_count',
    'availability_365'
]

for col in numerical_cols:
    # Use pd.to_numeric with 'coerce' to turn non-numeric values into NaN
    # Then convert to the desired numeric type (float for decimal/NaN support)
    df[col] = pd.to_numeric(df[col], errors='coerce').astype('float64')

print(f"✅ Converted {len(numerical_cols)} numerical columns to float64.")

✅ Converted 8 numerical columns to float64.

Identify at least one structural issue and describe how to fix it.

In [314]:
"""
the format of the date in the last review is in object and should be date and time

fix by converting last_review to datetime
"""

'\nthe format of the date in the last review is in object and should be date and time\n\nfix by converting last_review to datetime\n'

## C. Cleaning


Check for missing values

In [315]:
missing_counts = df.isnull().sum()
print("Missing Value Counts Per Column")
print(missing_counts)

Missing Value Counts Per Column
id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [316]:
print(df['minimum_nights'].describe())

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

Check for invalid values (e.g., price ≤ 0)

In [317]:
# List of columns to check for values <= 0
columns_to_check = [
    'price',
    'minimum_nights',
    'number_of_reviews',
    'reviews_per_month', # <-- New Column Added
    'calculated_host_listings_count',
    'availability_365'
]

print("--- Invalid Value Report (Rows where Value <= 0) ---")
print(f"Total rows in dataset: {df.shape[0]}\n")

invalid_data_found = False

for col in columns_to_check:
    # Count rows where the value is less than or equal to zero
    invalid_count = df[df[col] < 0].shape[0] # Changed to < 0 for rates/counts,
                                            # as = 0 is often valid (e.g., availability=0, reviews=0)

    if col in ['price', 'minimum_nights', 'calculated_host_listings_count'] and df[df[col] == 0].shape[0] > 0:
        # Check for price=0, minimum_nights=0, and host_listings_count=0 specifically, as these are invalid
        zero_count = df[df[col] == 0].shape[0]
        invalid_count += zero_count

        if zero_count > 0:
            print(f"⚠️ Column: '{col}' (Value = 0 is Invalid)")
            print(f"   - Invalid Count (<= 0): {invalid_count}")
            print(f"   - Percentage of Invalid Data: {(invalid_count / df.shape[0]) * 100:.4f}%")

            sample_rows = df[df[col] <= 0].head(3)[['id', col]]
            print("   - Sample Rows:")
            print(sample_rows.to_string(index=False))
            print("-----------------------------------")
            invalid_data_found = True

    elif invalid_count > 0:
        # Check for strictly negative values (since 0 is VALID for reviews, availability, and rate)
        print(f"⚠️ Column: '{col}' (Value < 0 is Invalid)")
        print(f"   - Invalid Count (< 0): {invalid_count}")
        print(f"   - Percentage of Invalid Data: {(invalid_count / df.shape[0]) * 100:.4f}%")

        sample_rows = df[df[col] < 0].head(3)[['id', col]]
        print("   - Sample Rows:")
        print(sample_rows.to_string(index=False))
        print("-----------------------------------")
        invalid_data_found = True

    else:
        print(f"✅ Column: '{col}' - All values are valid (>= 0).")

if not invalid_data_found:
    print("\n No structural invalid data (values < 0 or invalid 0s) found in the checked columns.")

--- Invalid Value Report (Rows where Value <= 0) ---
Total rows in dataset: 48895

⚠️ Column: 'price' (Value = 0 is Invalid)
   - Invalid Count (<= 0): 11
   - Percentage of Invalid Data: 0.0225%
   - Sample Rows:
      id  price
18750597    0.0
20333471    0.0
20523843    0.0
-----------------------------------
✅ Column: 'minimum_nights' - All values are valid (>= 0).
✅ Column: 'number_of_reviews' - All values are valid (>= 0).
✅ Column: 'reviews_per_month' - All values are valid (>= 0).
✅ Column: 'calculated_host_listings_count' - All values are valid (>= 0).
✅ Column: 'availability_365' - All values are valid (>= 0).

Apply a missing-value strategy (drop, fill, or flag)

In [318]:
initial_rows = df.shape[0]
df.drop(df[df['price'] == 0].index, inplace=True)
dropped_rows_count = initial_rows - df.shape[0]


print(f"✅ Dropped {dropped_rows_count} rows where 'price' was 0.")
print(f"   Remaining rows: {df.shape[0]}")

✅ Dropped 11 rows where 'price' was 0.
   Remaining rows: 48884

In [319]:
df['reviews_per_month'] = df['reviews_per_month'].fillna(0.0)

Apply an outlier-handling strategy

In [320]:
# Replace missing listing names with 'Unnamed Listing'
df['name'].fillna('Unnamed Listing', inplace=True)

# Replace missing host names with 'Anonymous Host'
df['host_name'].fillna('Anonymous Host', inplace=True)

print("✅ Missing values in 'name' and 'host_name' filled with placeholder strings.")

✅ Missing values in 'name' and 'host_name' filled with placeholder strings.

/tmp/ipython-input-4262630465.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['name'].fillna('Unnamed Listing', inplace=True)
/tmp/ipython-input-4262630465.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['host_name'].fillna('Anonymous Host', inplace=True)

In [321]:
missing_counts = df.isnull().sum()
print("Missing Value Counts Per Column")
print(missing_counts)

Missing Value Counts Per Column
id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10051
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [322]:
df.info( )

<class 'pandas.core.frame.DataFrame'>
Index: 48884 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48884 non-null  int64
 1   name                            48884 non-null  object
 2   host_id                         48884 non-null  int64
 3   host_name                       48884 non-null  object
 4   neighbourhood_group             48884 non-null  object
 5   neighbourhood                   48884 non-null  object
 6   latitude                        48884 non-null  float64
 7   longitude                       48884 non-null  float64
 8   room_type                       48884 non-null  object
 9   price                           48884 non-null  float64
 10  minimum_nights                  48884 non-null  float64
 11  number_of_reviews               48884 non-null  float64
 12  last_review                     38833 non-null  datetime64[ns]
 13  reviews_per_month               48884 non-null  float64
 14  calculated_host_listings_count  48884 non-null  float64
 15  availability_365                48884 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(5)
memory usage: 6.3+ MB

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [323]:
# Create the new column
df['price_per_minimum_night'] = df['price'] / df['minimum_nights']

# Handle any potential infinite values that may have resulted from extreme capping (though unlikely here)
df['price_per_minimum_night'].replace([np.inf, -np.inf], np.nan, inplace=True)

print("✅ Created 'price_per_minimum_night'.")

✅ Created 'price_per_minimum_night'.

/tmp/ipython-input-3843925809.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price_per_minimum_night'].replace([np.inf, -np.inf], np.nan, inplace=True)

In [324]:
# Create the new column by multiplying the two existing review features
df['review_rate_per_month'] = df['number_of_reviews'] * df['reviews_per_month']

print("✅ Created 'review_rate_per_month'.")

✅ Created 'review_rate_per_month'.

In [325]:
# Assuming price_threshold is already calculated as the 75th percentile (Q3)
# price_threshold = df['price'].quantile(0.75)

# Create the new column using numpy.where for efficient conditional assignment
df['is_expensive_Q3'] = np.where(
    df['price'] >= price_threshold,
    1,   # Value if the condition is True
    0    # Value if the condition is False
)

print(f"✅ Created 'is_expensive_Q3' column.")
print(f"   Listings with price >= {price_threshold:.2f} are flagged as 1.")
print(f"   Number of listings flagged as expensive (1): {df['is_expensive_Q3'].sum()}")

✅ Created 'is_expensive_Q3' column.
   Listings with price >= 175.00 are flagged as 1.
   Number of listings flagged as expensive (1): 12940

In [326]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48884 entries, 0 to 48894
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48884 non-null  int64
 1   name                            48884 non-null  object
 2   host_id                         48884 non-null  int64
 3   host_name                       48884 non-null  object
 4   neighbourhood_group             48884 non-null  object
 5   neighbourhood                   48884 non-null  object
 6   latitude                        48884 non-null  float64
 7   longitude                       48884 non-null  float64
 8   room_type                       48884 non-null  object
 9   price                           48884 non-null  float64
 10  minimum_nights                  48884 non-null  float64
 11  number_of_reviews               48884 non-null  float64
 12  last_review                     38833 non-null  datetime64[ns]
 13  reviews_per_month               48884 non-null  float64
 14  calculated_host_listings_count  48884 non-null  float64
 15  availability_365                48884 non-null  float64
 16  price_per_minimum_night         48884 non-null  float64
 17  review_rate_per_month           48884 non-null  float64
 18  is_expensive_Q3                 48884 non-null  int64
dtypes: datetime64[ns](1), float64(10), int64(3), object(5)
memory usage: 7.5+ MB

In [327]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_minimum_night,review_rate_per_month,is_expensive_Q3
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0,149.000000,1.89,0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0,225.000000,17.10,1
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaT,0.00,1.0,365.0,50.000000,0.00,0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0,89.000000,1252.80,0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0,8.000000,0.90,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200.0,3.0,74.0,2019-06-22,0.59,1.0,129.0,66.666667,43.66,1
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60.0,45.0,49.0,2017-10-05,0.40,1.0,0.0,1.333333,19.60,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79.0,2.0,430.0,2019-06-24,3.47,1.0,220.0,39.500000,1492.10,0
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79.0,2.0,118.0,2017-07-21,0.99,1.0,0.0,39.500000,116.82,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150.0,1.0,160.0,2019-06-09,1.33,4.0,188.0,150.000000,212.80,0

Create 1 aggregated summary table

(e.g. average price per neighborhood number of hosts per borough)

In [328]:
import numpy as np
import pandas as pd

# Re-run the aggregation with the correct lambda function for quantile
review_price_segment = df.groupby('is_expensive_Q3').agg(
    Listing_Count=('id', 'count'),
    Median_Price=('price', 'median'),
    Avg_Monthly_Review_Rate=('reviews_per_month', 'mean'),
    Q3_Availability=('availability_365', lambda x: x.quantile(0.75))
).rename(index={0: 'Not Expensive (< Q3)', 1: 'Expensive (>= Q3)'}).round(2)

print("--- Review Activity and Pricing by Affordability Segment ---")
# Print the DataFrame directly
review_price_segment.head()

--- Review Activity and Pricing by Affordability Segment ---

,Listing_Count,Median_Price,Avg_Monthly_Review_Rate,Q3_Availability
is_expensive_Q3,,,,
Not Expensive (< Q3),35944,85.0,1.15,196.0
Expensive (>= Q3),12940,245.0,0.93,272.0

In [329]:

avg_price_by_neighbourhood = df.groupby('neighbourhood')['price'].mean().reset_index()
avg_price_by_neighbourhood.rename(columns={'price': 'Avg_Neighborhood_Price'}, inplace=True)

neighbourhood_map = df[['neighbourhood', 'neighbourhood_group']].drop_duplicates()
df_merged_prices = avg_price_by_neighbourhood.merge(neighbourhood_map, on='neighbourhood', how='left')

unique_hosts_count = df.groupby('neighbourhood_group')['host_id'].nunique()

median_avg_neighborhood_price = df_merged_prices.groupby('neighbourhood_group')['Avg_Neighborhood_Price'].median()

avg_price_group = df.groupby('neighbourhood_group')['price'].mean()

combined_summary_table = pd.DataFrame({
    'Unique_Hosts': unique_hosts_count,
    'Avg_Price_Group': avg_price_group,
    'Median_Avg_Price_Neighborhood': median_avg_neighborhood_price
}).sort_values(by='Avg_Price_Group', ascending=False).round(2)

print("--- Aggregated Summary: Host Counts and Pricing by Borough ---")
combined_summary_table.head()

--- Aggregated Summary: Host Counts and Pricing by Borough ---

,Unique_Hosts,Avg_Price_Group,Median_Avg_Price_Neighborhood
neighbourhood_group,,,
Manhattan,16577,196.88,207.86
Brooklyn,15965,124.44,128.90
Staten Island,256,114.81,94.62
Queens,3983,99.52,94.73
Bronx,789,87.58,79.90

In [330]:
# Group by both neighbourhood_group and room_type
summary_combined = df.groupby(['neighbourhood_group', 'room_type']).agg(
    avg_price=('price', 'mean'),                 # Average price
    median_price=('price', 'median'),            # Median price
    total_listings=('id', 'count'),              # Total listings
    avg_min_nights=('minimum_nights', 'mean'),   # Average minimum nights
    avg_reviews_per_month=('reviews_per_month', 'mean'), # Average review frequency
    num_expensive=('is_expensive_Q3', 'sum')        # Number of expensive listings
).reset_index()

# Round numeric columns for readability
summary_combined = summary_combined.round({
    'avg_price': 2,
    'median_price': 2,
    'avg_min_nights': 1,
    'avg_reviews_per_month': 2
})

# Show the combined summary
summary_combined

,neighbourhood_group,room_type,avg_price,median_price,total_listings,avg_min_nights,avg_reviews_per_month,num_expensive
0,Bronx,Entire home/apt,127.51,100.0,379,6.0,1.82,55
1,Bronx,Private room,66.89,54.0,651,3.9,1.32,12
2,Bronx,Shared room,59.80,40.0,60,3.4,0.97,1
3,Brooklyn,Entire home/apt,178.35,145.0,9558,6.5,1.13,3255
4,Brooklyn,Private room,76.55,65.0,10126,5.5,0.99,264
5,Brooklyn,Shared room,50.77,36.0,411,7.6,0.75,15
6,Manhattan,Entire home/apt,249.26,191.0,13198,10.5,0.86,7843
7,Manhattan,Private room,116.78,90.0,7982,5.4,1.15,837
8,Manhattan,Shared room,88.98,69.0,480,6.8,1.33,38
9,Queens,Entire home/apt,147.05,120.0,2096,5.4,1.64,493
10,Queens,Private room,71.76,60.0,3372,5.1,1.55,76
11,Queens,Shared room,69.02,37.0,198,4.2,1.17,7
12,Staten Island,Entire home/apt,173.85,100.0,176,6.2,1.77,40
13,Staten Island,Private room,62.29,50.0,188,3.6,1.44,4
14,Staten Island,Shared room,57.44,30.0,9,2.3,0.74,0

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [331]:
validation_report = {}

# Rule 1: Price must be positive (Price <= 0)
rule_1_condition = df['price'] <= 0
rule_1_violations = rule_1_condition.sum()
validation_report['Price <= 0'] = rule_1_violations

# Rule 2: Host ID should not be null
rule_2_condition = df['host_id'].isna()
rule_2_violations = rule_2_condition.sum()
validation_report['Host ID is Null'] = rule_2_violations

# Rule 3: Minimum nights must be >= 1 (Minimum nights < 1)
rule_3_condition = df['minimum_nights'] < 1
rule_3_violations = rule_3_condition.sum()
validation_report['Minimum Nights < 1'] = rule_3_violations

# --- 2. Generate the Validation Report ---
validation_df = pd.Series(validation_report).to_frame(name='Violation Count')
validation_df.index.name = 'Validation Rule'

print("--- 🔬 Data Validation Report ---")
print(validation_df.to_markdown())

# --- 3. Action: Remove Invalid Rows ---

# Combine all conditions where rows must be removed
rows_to_drop_condition = rule_1_condition | rule_2_condition | rule_3_condition
rows_dropped = df[rows_to_drop_condition].shape[0]

if rows_dropped > 0:
    df.drop(df[rows_to_drop_condition].index, inplace=True)
    print(f"\nACTION: Removed {rows_dropped} invalid rows from the DataFrame.")
else:
    print("\nACTION: No invalid rows found to remove. DataFrame integrity maintained.")

print(f"Total Rows Remaining: {df.shape[0]}")

--- 🔬 Data Validation Report ---
| Validation Rule    |   Violation Count |
|:-------------------|------------------:|
| Price <= 0         |                 0 |
| Host ID is Null    |                 0 |
| Minimum Nights < 1 |                 0 |

ACTION: No invalid rows found to remove. DataFrame integrity maintained.
Total Rows Remaining: 48884

## F. Publishing

*Select* final columns for publication.

In [332]:
final_columns = [
    'id', 'name', 'host_id', 'neighbourhood_group', 'neighbourhood',
    'latitude', 'longitude', 'room_type', 'price', 'minimum_nights',
    'number_of_reviews', 'reviews_per_month',
    'calculated_host_listings_count', 'availability_365',
    'price_per_minimum_night', 'review_rate_per_month', 'is_expensive_Q3'
]

df_final = df[final_columns].copy()

print("Final dataset prepared with 19 columns, including 3 new enriched features.")
print(df_final.head(3))

Final dataset prepared with 19 columns, including 3 new enriched features.
     id                                 name  host_id neighbourhood_group  \
0  2539   Clean & quiet apt home by the park     2787            Brooklyn
1  2595                Skylit Midtown Castle     2845           Manhattan
2  3647  THE VILLAGE OF HARLEM....NEW YORK !     4632           Manhattan

  neighbourhood  latitude  longitude        room_type  price  minimum_nights  \
0    Kensington  40.64749  -73.97237     Private room  149.0             1.0
1       Midtown  40.75362  -73.98377  Entire home/apt  225.0             1.0
2        Harlem  40.80902  -73.94190     Private room  150.0             3.0

   number_of_reviews  reviews_per_month  calculated_host_listings_count  \
0                9.0               0.21                             6.0
1               45.0               0.38                             2.0
2                0.0               0.00                             1.0

   availability_365  price_per_minimum_night  review_rate_per_month  \
0             365.0                    149.0                   1.89
1             355.0                    225.0                  17.10
2             365.0                     50.0                   0.00

   is_expensive_Q3
0                0
1                1
2                0

Export cleaned dataset as "cleaned_airbnb.csv"

In [333]:
df_final.to_csv("cleaned_airbnb.csv", index=False)

print("SUCCESS: 'cleaned_airbnb.csv' exported.")

SUCCESS: 'cleaned_airbnb.csv' exported.

Export summary reports (e.g., validation or aggregations) as CSV.

In [334]:
combined_summary_table.to_csv("neighbourhood_summary_report.csv", index=False)

validation_df.to_csv("validation_report.csv", index=False)

summary_combined.to_csv("validation_report.csv", index=False)


print("SUCCESS: Summary reports exported.")

SUCCESS: Summary reports exported.